{% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <form class="signup_form" action="/auth/login" method="POST", novalidate>
            <h2>Login</h2>
            <div class="form-group">
                {%if errors%}
                    {% for error in errors %}
                        <h3 style="text-align: center; color: red"> {{error}}</h3>
                    {% endfor %}
                {% endif %}
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="example@mail.com" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
                <a href="/auth/register">Dont have an account? Register</a>
            </div>
        </form>
        <div id="message"></div>
    </div>
    {% endblock content %}