{{>nav}}
<div class="container">
    <div class="cart_page">
        <h2 class="cart_title">Your cart items</h2>
        <a href="/home">Back to shopping</a>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tBody">
                <tr>
                    <td>
                        <img src="/assets/image 1.png" class="cart_img" alt="Spiced Mint Candleaf" width="50">
                    </td>
                    <td >9.99</td>
                    <td>
                        <form class="quantity_form">
                            <button type="button" id="minusBtn">-</button>
                            <input type="text" value="10">
                            <button type="button" id="plusBtn">+</button>
                        </form>
                    </td>
                    <td class="totalPrice">$9.99</td>
                    <td>
                        <form>
                            <button type="submit" style="color: red; border: none; background: none; cursor: pointer;">Remove</button>
                        </form>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <h3 class="cart_page-total">Sub-total: $9.99</h3>
        <button class="checkout-btn">Check-out</button>
    </div>
</div>