{{>nav}}
<div class="hero">
    <div class="hero_section">
        <span>🌱</span>            
        <h3>The nature candle</h3>
        <p>All handmade with natural soy wax, Candleaf is a companion for all your pleasure moments </p>
        <button>Discovery our collection</button>
    </div>
</div>
<div class="container">
    <menu class="products">
        <h3>Products</h3>
        <p>Order it for you or for your beloved ones </p>
        <div class="product_card-wrapper">
            <div class="product_card">
                <div class="product_card-header">
                    <img src="/assets/image 1.png" alt="product image">
                </div>
                <div class="product_card-body">
                    <p class="product_name">Spiced Mint</p>
                    <h4 class="product_price">45000 so'm </h4>
                    <div class="button_group">
                        <a href="#"><button class="buy_button">Buy</button></a>
                        <button class="save_button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </menu>
</div>
<div class="features">
    <div class="container">
        <section class="features_left">
            <h2 class="features_title">
                Clean and fragrant soy wax
            </h2>
            <p class="features_text">
                Made for your home and for your wellness
            </p>
            <ul class="features_list">
                <li> <img src="/assets/checkmark-circle-outline 1.png" alt="checkmark-circle-outline">Eco-sustainable:All recyclable materials, 0% CO2 emissions</li>
                <li> <img src="/assets/checkmark-circle-outline 1.png" alt="checkmark-circle-outline"> Hyphoallergenic: 100% natural, human friendly ingredients </li>
                <li> <img src="/assets/checkmark-circle-outline 1.png" alt="checkmark-circle-outline"> Handmade: All candles are craftly made with love.</li>
                <li> <img src="/assets/checkmark-circle-outline 1.png" alt="checkmark-circle-outline">Long burning: No more waste. Created for last long.</li>
            </ul>
            <button class="features_button">Learn more</button>
        </section>
        <section class="features_right">
            <img src="/assets/image.png" alt="image">
        </section>
    </div>
</div>